#main {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 360px;
	overflow: hidden;
}
#panner {
	position: relative;
}
#gameid {
	text-align: right;
}
.swipe {
	height:120px;
}
.screen {
	width: 360px;
}
td {
	text-align: center;
	vertical-align: middle;
}
textarea {
	resize: none;
	text-align: center;
	vertical-align: middle;
	font-family: Georgia;
	font-size: 16px;
}
input {
	font-family: Georgia;
	font-size: 16px
}
